
Temp/UnityLockfile
Temp/__Backupscenes/0.backup
Library/metadata/f5/f5efc372d3f1ae34298f5aa5bf1e77fb.info
Library/metadata/f5/f5efc372d3f1ae34298f5aa5bf1e77fb
Library/metadata/3b/3b8b924c1c192794abbd6090a320268e.info
Library/metadata/3b/3b8b924c1c192794abbd6090a320268e
Library/assetDatabase3
Assets/NetBufferWriter.cs.meta
Assets/NetBufferReader.cs.meta
.vs/netClient/v15/Server/sqlite3/storage.ide-wal
.vs/netClient/v15/Server/sqlite3/storage.ide-shm
Library/assetDatabase3
.vs/netClient/v15/Server/sqlite3/storage.ide-wal
.vs/netClient/v15/Server/sqlite3/storage.ide-shm
Library/assetDatabase3
.vs/netClient/v15/Server/sqlite3/storage.ide-wal
.vs/netClient/v15/Server/sqlite3/storage.ide-shm
